html {
  height: 100%;
  width: 100%;
}

.topic {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.vertical-rule {
  transform: rotate(90deg);
}